.form {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 0.8em;
    input {
        font-family: Calibri;
        font-size: 1.1em;
        width: 17em;
    }
    button {
        font-size: 1.1em;
    }
}